<div class='landing-container'>
    <div class='landing-image'>
        <div class='landing-cta'>
            <h3>Now offering subscriptions so you never run out of the goods.</h3>
            <button>Buy</button>
        </div>
    </div>
    <div class='page-content-container'>
        <h1>Downtown Coffee Roasters</h1>
        <div class='landing-info-container'>
            <div class='landing-info mission'>
                <img src='../../assets/coffee-plant.jpg' />
                <h3>Mission</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quas nesciunt aspernatur fugit molestias nulla. Quibusdam exercitationem perspiciatis voluptas doloribus quisquam veritatis, sunt pariatur et sit, excepturi eligendi! Ratione, perferendis.</p>
            </div>
            <div class='landing-info about'>
                <img src='../../assets/coffee-pour.jpg' />
                <h3>Our story</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quas nesciunt aspernatur fugit molestias nulla. Quibusdam exercitationem perspiciatis voluptas doloribus quisquam veritatis, sunt pariatur et sit, excepturi eligendi! Ratione, perferendis.</p>
            </div>
        </div>
        <h2>Stay current with our Hashtag</h2>
        <h2>#DowntownCoffeeRoasters</h2>
        <div class='landing-social-container'>
            <div class='social-items item'>
                <img src='../../assets/coffee-on-counter.jpg' />
            </div>            
            <div class='social-items item'>
                <img src='../../assets/coffee-cheers.jpg' />
            </div>            
            <!-- <div class='social-items item'>
                <img src='../../assets/cafe-work.jpg' />
            </div> -->
            <div class='social-items item'>
                <img src='../../assets/barista-smile.jpg' />
            </div>
        </div>
    </div>
</div>
