<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * *    ~~~  ~      ~~   ~~~  ~~  ~  ~~   ~  * * * * * * * * -->
<!-- * * *       ~ ~~      ~    ~    ~~   ~        * * * * * * * * -->
<!-- * * *  ____________________________________.  * * * * * * * * -->
<!-- * * * (____,\_____________________________/|  * * * * * * * * -->
<!-- * * * * \___|   *** *** *** *** *** ***   /   * * * * * * * * -->
<!-- * * * * * *  \  *   * * **  **  **  **   /    * * * * * * * * -->
<!-- * * * * * *   \ *** *** *   *   *** *** /     * * * * * * * * -->
<!-- * * * * * * *  \_______________________/      * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class='app-container'>
    <app-nav [cart]='cart'></app-nav>
    <!-- <app-landing></app-landing> -->
    <app-order [products]='products' (itemAdded)='addToCart($event)'></app-order>
</div>